---
- name: Converge for root CA
  hosts:
    - rootca
  roles:
    - role: trippsc2.adcs.certificate_authority

- name: Issue CA certificate to standalone subordinate CA
  hosts:
    - ssubca
  roles:
    - role: trippsc2.adcs.sub_ca_certificate

- name: Converge for sub CA
  hosts:
    - subca
  roles:
    - role: trippsc2.adcs.certificate_authority
